// Quantum Script Extension CSV
// Copyright (c) 2016-2025 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2025 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/CSV/Library.rh>
#include <XYO/QuantumScript.Extension/CSV/Copyright.rh>
#include <XYO/QuantumScript.Extension/CSV/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_CSV,"quantum-script--csv.dll","Quantum Script Extension CSV")
